<div class="container">
    <h2>CRUD con Números Aleatorios</h2>
    <button (click)="agregarNumero()">Añadir Número Aleatorio</button>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Número</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numero of numeros; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <!-- Si el índice está en edición, mostrar input; si no, mostrar el número -->
            <input *ngIf="indiceEditando === i"
            [(ngModel)]="numeroTemporal"
            (blur)="guardarNumero()"
            (keyup.enter)="guardarNumero()" type="number"style="width:60px"/>
             <!-- El input está vinculado al número temporal -->
            <span *ngIf="indiceEditando !== i">{{ numero }}</span>
          </td>
          <td>
            <!-- Botón para iniciar la edición -->
            <button (click)="editarNumero(i)">Modificar</button>
            <!-- Botón de eliminar -->
            <button (click)="eliminarNumero(i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  