<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>
<body>
  <!-- <div class="container ">
    <div class="col-3">
      <h1>Componente1</h1>
      <button btn btn-primary (click)="cambiarColorAleatorio()"[ngStyle]="{'background-color':color[1]}">Boton</button>
      <button btn btn-primary (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color':color[2]}">Boton</button>
      <button btn btn-primary (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color':color[3]}">Boton</button>
      <button btn btn-primary (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color':color[4]}">Boton</button>
    </div>
  </div> -->

  <div class="container">
    <div class="col-3">
      <h1>Componente1</h1>
      <button class="btn btn-primary" (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color': color}">Botón 1</button>
      <button class="btn btn-primary" (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color': color}">Botón 2</button>
      <button class="btn btn-primary" (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color': color}">Botón 3</button>
      <button class="btn btn-primary" (click)="cambiarColorAleatorio()" [ngStyle]="{'background-color': color}">Botón 4</button>
    </div>
  </div>



</body>
</html>
